{{#if auth}}


<h2>A Marca{{user.marca}} a Potencia {{user.potencia}} Motor {{user.motor}} Ano de Fabrica  {{user.ano_fabric}} Nome do Carro {{user.nome}} Cor  {{user.cor}}</h2>

<a href="/">Home</a>
<a href="/users/add">Novo Usuário</a>
{{/if}}
